/* header element */
header {
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding-top: 15px;
}

.navbar__brand {
  height: auto;
  color: rgb(19, 19, 19);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 31.8px;
  text-align: center;
}

.navbar__lists {
  display: flex;
}

.navbar__item {
  padding: 20px;
}

.navbar__item a {
  display: none;
}

.navbar__bar-icon {
  display: block;
  font-size: 1.5rem;
}

/* banner container start */
.banner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.banner__content {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  width: 100%;
  height: auto;
  color: rgb(19, 19, 19);
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  margin-bottom: 20px;
}

.banner__description {
  width: 100%;
  height: auto;
  color: rgb(114, 114, 114);
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 15.6px;
  text-align: center;
  margin-bottom: 20px;
}

.banner__btn {
  width: 140px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.banner__image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.banner__image img {
  width: 100%;
}
/* banner container end */

/* header elements end */

/* features section start */
.features {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 46px;
  gap: 6px;
  align-items: center;
  padding-left: 0px;
  margin-top: 51px;
}

.features__images {
  width: 90%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14.5px;
  border-radius: 8px;
}

.features__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features__content {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.features__title {
  width: 100%;
  height: auto;
  font-family: Work Sans;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 35px;
  text-align: left;
  margin-bottom: 14.5px;
}

.features__title--light {
  color: rgb(114, 114, 114);
  font-weight: 500;
}

.features__title--secondary {
  color: rgb(255, 144, 14);
}

.features__description {
  width: 100%;
  height: auto;
  color: rgb(114, 114, 114);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.features__btn--primary {
  width: 108px;
  height: 38.4px;
  font-size: 0.8rem;
  line-height: 13px;
}
/* features section end */

/* experience section start */
.experience {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 88px;
}

.experience__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience__title {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14.64px;
  margin-left: -20px;
}

.orange-line {
  width: 3px;
  height: 53px;
  background: rgb(255, 144, 14);
  border: 2px solid orange;
  margin-top: 20px;
  margin-right: 10px;
}

.experience__title h4 {
  width: 90%;
  height: auto;
  color: rgb(19, 19, 19);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 14.5px;
  white-space: nowrap;
}

.experience__description {
  width: 80%;
  height: auto;
  color: rgb(114, 114, 114);
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  margin-bottom: 18px;
}

.experience__card {
  width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 20px 20px;
  margin-bottom: 12px;
}

.experience__card--title {
  width: 90%;
  height: auto;
  color: rgb(19, 19, 19);
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  margin-bottom: 6px;
}

.experience__card--description {
  width: 90%;
  height: auto;
  color: rgb(114, 114, 114);
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
}

.experience__image {
  width: 90%;
  height: auto;
  margin-top: -55px;
  position: relative;
}

.experience__image img {
  width: 100%;
  height: 100%;
}

.experience__year {
  width: 200px;
  height: 120px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 25px;
  position: absolute;
  margin-bottom: 0%;
  margin-left: 20%;
}

.experience__year--title {
  font-size: 2.3rem;
  font-weight: 700px;
  line-height: 42px;
  align-items: center;
  color: rgb(255, 255, 255);
}

.experience__year--description {
  font-size: 1.2rem;
  font-weight: 500px;
  line-height: 22px;
  align-items: center;
  color: rgb(255, 255, 255);
}
/* experience section end */
