/* navbar container */
.navbar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar {
  gap: 10px;
}

/* banner container */
.banner {
  padding: 30px;
}

/* ******* */
.banner__content {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 0;
}

.banner__title {
  /* font-size: 2.5rem; */
  line-height: 1.2;
}

.banner__description {
  font-size: 1rem;
  line-height: 1.4;
}

/* ******* */
.banner__image {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

/* feature section */
.features {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.features__images {
    width: 100%;
    height: auto;
}

.features__content {
    margin-top: 20px;
    align-items: center
}

.features__title {
    text-align: center;
    font-size: 1.4rem;
}

.features__description {
    text-align: center;
    width: 100%;
}

.features__btn--primary {
    width: 50%;
    font-size: 1rem;
    margin-top: 10px;
}