/* header element */
header {
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}

.navbar__brand {
  height: auto;
  color: rgb(19, 19, 19);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 31, 8px;
  text-align: center;
}

.navbar__lists {
  display: flex;
}

.navbar__item {
  padding: 20px;
}

.navbar__item a {
  display: none;
}

.navbar__bar-icon {
  display: block;
}