/* Media Query */

/* navbar container */
.navbar,
.navbar__lists {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  gap: 10px;
}

/* navbar container */
.banner {
  padding: 20px;
}

/* ******* */
.banner__content {
  width: 90%;
  height: auto;
  padding: 10px;
  margin: 0;
}

.banner__title {
  font-size: 2rem;
  line-height: 1.2;
}

.banner__description {
  font-size: 0.875rem;
  line-height: 1.4;
}

.banner__btn {
  width: 100%;
  font-size: 1rem;
}

/* ******* */
.banner__image {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

/* feature section */
.features {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.features__images {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
}

.features__content {
    align-items: center;
    margin-top: 20px;
}

.features__title {
    text-align: center;
    font-size: 1.4rem;
}

.features__description {
    width: 100%;
    text-align: center;
}

.features__btn--primary {
    width: 80%;
    font-size: 1rem;
    margin-top: 20px;
}