/* Works Sans google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  max-width: 1174px;
  font-family: "Work Sans", sans-serif;
}

/* universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* shared styles */
.bg-secondary {
  background: rgba(255, 144, 14, 0.1);
}

.display-flex {
  display: flex;
}

/* header element */
header {
  height: 955px;
  /* height: 1322px; */
}
.navbar {
  justify-content: space-evenly;
  align-items: center;
  gap: 385px;
  padding-top: 20px;
}

.navbar__brand {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 31, 8px;
  text-align: center;
}

.navbar__lists {
  display: flex;
}

.navbar__item {
  list-style: none;
  padding: 20px;
}

.navbar__item a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

/* banner container */
.banner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.banner__content {
  width: 517px;
  height: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
  margin-bottom: 23px;
}

.banner__description {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  line-height: 15.6px;
  text-align: center;
  margin-bottom: 33px;
}

.banner__btn {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
}

.banner__image {
  width: 864px;
  height: 420px;
  border-radius: 8px;
  margin-top: 70px;
}

.banner__image img {
  width: 100%;
}

/* Media Query */
@media screen and (max-width: 576px) {
  .navbar,
  .navbar__lists {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    gap: 10px;
  }
}

/* Medium screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    gap: 10px;
  }
}
