/* Works Sans google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  max-width: 1174px;
  margin: 0 auto;
  font-family: "Work Sans", sans-serif;
}

/* universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* shared styles */
.bg-secondary {
  background: rgba(255, 144, 14, 0.1);
}

.display-flex {
  display: flex;
}

/* header element */
header {
  height: auto;
}

.navbar {
  justify-content: space-evenly;
  align-items: center;
  gap: 385px;
  padding-top: 20px;
}

.navbar__brand {
  color: rgb(19, 19, 19);
  font-size: 1.72rem;
  font-weight: 700;
  line-height: 31, 8px;
  text-align: center;
}

.navbar__lists {
  display: flex;
}

.navbar__item {
  list-style: none;
  padding: 20px;
}

.navbar__item a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 1rem;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

/* banner container */
.banner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.banner__content {
  width: 517px;
  height: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  color: rgb(19, 19, 19);
  font-size: 2.44rem;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  margin-bottom: 23px;
}

.banner__description {
  color: rgb(114, 114, 114);
  font-size: 0.61rem;
  font-weight: 400;
  line-height: 15.6px;
  text-align: center;
  margin-bottom: 33px;
}

.banner__btn {
  width: 150px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: rgb(255, 144, 14);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
}

.banner__image {
  width: 864px;
  height: 420px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.banner__image img {
  width: 100%;
}

/* main elements starts */

/* features section */
.features {
  display: flex;
  justify-content: center;
  gap: 46px;
  align-items: center;
  padding-left: 180px;
  margin-top: 51px;
}

.features__images {
  width: 450px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14.5px;
  border-radius: 8px;
}

.features__images img {
  width: 100%;
  height: 100%;
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}

.features__title {
  font-family: Work Sans;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 31px;
  text-align: left;
  margin-bottom: 14.5px;
}

.features__title--light {
  color: rgb(114, 114, 114);
  font-weight: 500;
}

.features__title--secondary {
  color: rgb(255, 144, 14);
}

.features__description {
  width: 537px;
  height: 78px;
  color: rgb(114, 114, 114);
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
}

.features__btn--primary {
  width: 108px;
  height: 38.4px;
  font-size: 0.8rem;
  line-height: 13px;
}

/* experience section */
.experience {
  width: 870px;
  height: 650px;
  margin: 0 auto;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 88px;
}

#experience__title--block {

}

.experience__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.experience__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14.64px;
}

.orange-line {
  width: 3px;
  height: 53px;
  background: rgb(255, 144, 14);
  border: 2px solid orange;
  margin-top: 20px;
  margin-right: 10px;
}

.experience__title h4 {
  width: 265.48px;
  height: 53px;
  color: rgb(19, 19, 19);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 14.5px;
  white-space: nowrap;
}

.experience__description {
  width: 352px;
  height: 47px;
  color: rgb(114, 114, 114);
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
  margin-bottom: 18px;
}

.experience__card {
  width: 352px;
  height: 103px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 30px 40px;
  margin-bottom: 12px;
}

.experience__card--title {
  color: rgb(19, 19, 19);
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  margin-bottom: 6px;
}

.experience__card--description {
  color: rgb(114, 114, 114);
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 15.6px;
  text-align: left;
}

.experience__image {
  width: 425px;
  height: 590px;
  margin-top: -55px;
  position: relative;
}

.experience__image img {
  width: 100%;
  height: auto;
}

.experience__year {
  width: 205px;
  height: 120px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 25px;
  margin-top: -60px;
  margin-left: -50px;
  position: absolute;
}

.experience__year--title {
  font-size: 2.5rem;
  font-weight: 700px;
  line-height: 42px;
  align-items: center;
  color: rgb(255, 255, 255);
}

.experience__year--description {
  font-size: 1.5rem;
  font-weight: 500px;
  line-height: 22px;
  align-items: center;
  color: rgb(255, 255, 255);
}

/*  */

/* facts section starts */
.facts {
  width: 864px;
  height: auto;
  margin: 0 auto;
  margin-top: 79px;
}

.facts__content {
  width: 542px;
  height: auto;
}

.facts__content-title {
  color: rgb(19, 19, 19);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 14.5px;
}

.facts__content-paragraph {
  width: 352px;
  height: 47px;
  color: rgb(114, 114, 114);
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 15.6px;
}

.facts__cards {
  margin-top: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}

.facts__card {
  width: 147.52px;
  height: 147.52px;
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.facts__card-icon {
  color: orange;
  font-size: 1.4rem;
}

.facts__card-caption {
  color: rgb(66, 66, 66);
  font-size: 1.72rem;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}

.facts__card-description {
  color: rgb(114, 114, 114);
  font-size: 0.76rem;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: -8px;
}

/* facts section ends */

/* sponsors section starts */
.sponsors {
  width: 864px;
  height: auto;
  margin: 0 auto;
  margin-top: 79px;
}

.sponsors__content {
  width: 542px;
  height: auto;
  margin: 0 auto;
}

.sponsors__content-title {
  color: rgb(19, 19, 19);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 14.5px;
  text-align: center;
}

.sponsors__content-description {
  width: 352px;
  height: 47px;
  color: rgb(114, 114, 114);
  font-size: 0.6rem;
  font-weight: 400;
  text-align: center;
  line-height: 15.6px;
  margin: 0 auto;
}

.sponsors__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.sponsors__logo img {
  width: 100px;
  height: auto;
  cursor: pointer;
}

/* sponsors section ends */

/* footer starts */
.footer__content {
  width: 878px;
  height: 70px;
  border-radius: 8px;
  background: rgb(255, 244, 231);
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 1px solid transparent;
}

.footer__content-description {
  color: rgb(66, 66, 66);
  font-size: 0.76rem;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 23.79px;
}
/* footer ends */
